.nav-link{
    color: rgb(19, 18, 18);
}

.nav-login-container{
    display: flex;
}

.nav-logo--size{
    font-size: 2rem;
    padding-top: 0rem;
    margin: 0rem;
}
.nav-link--top-margin{
    margin-top: 0.6rem;
}