:root {
    --border-color: rgb(180, 175, 175);
}

.item{
    width: 100%;
    color: white;
    min-height:339px;
    text-align:center;     
    padding: 16% 24%;
    background-size:cover;
    display: inline-block;
    background-repeat: no-repeat;
}

.row{
    margin: 0;
    display: flex;
}

.row--padding{
    padding : 0;
}

.container--top-margin{
    margin-top: 4rem;
}

.sample-scroll__button{
    gap: 0.6rem;
    display: flex;
    margin: 1rem 3rem;
    justify-content: right;
}

.sample-scroll__button input{
    width: 0.8rem;
    height: 0.8rem;
    cursor: pointer;
}

.sample-scroll__button--featured{
    justify-content: center;
}

.sample-scroll__button--featured input{
    width: 1.6rem;
    height: 1.6rem;
}

.featured__container{
    padding-top: 10rem;
    padding-bottom: 6rem;
    background-color: #E0E2E3;
}

.featured__container-product{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    place-items: center;
}

.testimonial__container{
    padding: 6rem 2rem;
}

.testimonial__author{
    text-align: left;
    margin-left: 1rem;
}

blockquote{
    padding: 20px;
    color: white;
    border-radius: 10px;
    background-color: #0088CC;
}

.products__container section{
    display: flex;
    text-align: left;
    margin-left: 4rem;
    justify-content: space-between;
}

.product__container--card{
    display: flex;
    justify-content: space-around;
   
}

.ads-img img{
    width: 100%;
}
