@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.profile__container{
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-size: 2rem;
    font-family: 'Varela Round', sans-serif;
    border: 1rem solid var(--border-color);
    background-color: rgba(129, 129, 194, 0.452);
}

.profile__figure{
    width: 20%;
    position: relative;
    left: 40%;
    bottom: 10%;
    border-radius: 50%;
    border: 1rem solid var(--border-color);
}

.profile__figure img{
    width: 100%;
}

.profile__container h3{
    font-size: 4rem;
}

.info__container{
    display: flex;
    text-align: left;
    justify-content: space-around;
}

.company__name{
    position: relative;
    top: 6rem;
    font-family: 'Great Vibes', cursive;
}
