
.navbar--color{
    border-bottom: 1.6px solid var(--border-color);
}
.admin{
    width: 100%;
    height: 100vh;
}

.nav-tabs{
    margin: 4rem;
}

.admin__products__list{
    width: 100%;
}

.admin__product__list{
    gap: 2rem;
    margin: 2rem;
    display: grid;
    align-self: center;
    justify-items: center;
    grid-template-columns: repeat(3,1fr);
} 

.admin__body{
    gap: 1rem;
    padding: 4rem;
    display: flex;
    font-size: 1.2rem;
    margin-top: 10rem;
    background-color: #d9e4f5;
    background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6a6 74%);
}


.side__nav{
    width: 20%;
    padding: 2px;
    height: 100vh;
    border: 2px solid var(--border-color);
}

.side__nav__title{
    margin: 0px;
    text-align: left;
    font-size: 1.2rem;
    padding: 2px 2px 0px 2px;
    border-radius: 4px 4px 0px 0px;
    border: 1px solid var(--border-color);
    background-color: #F5F5F5;
}

.side__nav__list{
    text-align: left;
    list-style: none;
    padding: 1rem 0rem 1rem 1rem;
    border: 1px solid var(--border-color);
}
.side__nav__list li{
    font-size: 1rem;
    cursor: pointer;
}

.add-product__form{
    width: 100%;
    text-align: left;
    padding: 0rem 2rem;
}

.add-product__form h3, .admin__products__list h3{
    font-size: 3rem;
    text-align: center;
    color: rgb(35,64,144);
    font-family: 'Rampart One', cursive;
}

.add-cateogary__field{
    display: flex;
    height: 1.6rem;
    margin-top: 0.6rem;
}

.add-cateogary__field input{
    width: 50%;
    height: 100%;
    font-size: 1rem;
}

.add-cateogary__field p{
    height: 100%;
    bottom: 0.7rem;
    font-size: 1.6rem;
    position: relative;
}